/* Colors */
// Gray
$grey-light: #fafafa;
$grey-medium: #C0C0C0;
$grey-dark: #7a7a7a;

// Cyan
$cyan: #20B2AA;

// Pink
$pink: #ffdbf5;

// Orange
$orange: rgba(193,61,2,0.95);

// Black
$black-dark: rgba(30,30,30,1);
$black-light: rgba(30,30,30,0.5);

/* Fonts */
$basic-style: 'Baloo Thambi 2', cursive;
$default-style: "Arial","Helvetica","sans-serif"; //"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
$date-style: "Times New Roman", Times, serif;
$handwrite-style: 'Liu Jian Mao Cao', cursive;
$footer-style: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;

