<!DOCTYPE html>
<html lang="en">
    {%- include head.html -%}
<body>
    {%- include nav.html -%}
    <div class="container about">
        <div class="row">
            <div class="col-lg-8
                        offset-lg-2
                        col-md-8
                        offset-md-2">
                <h1>Hello.</h1>
                <p class="intro">My name is Dolly Zhang</p>
                <p>
                    I am a Vehicle testing engineer who loves computer science.
                    Most of my work is publicly available on my <a href="https://github.com/zsqzsq1993">Github</a>.
                </p>
                <p>
                    Over the past 10 years, I have spent a lot of time exploring fun activities.
                    I've been to many places, experienced many cultures but never thought about what I want to do in the future.
                    So now, I'm going to make a plan that most people did in college.
                </p>
                <p>
                    After May of 2020, I will be 27 years old. Hope everything will be on track
                    before the age of 30. If you happen to speak Chinese, I will be very happy
                    to communicate with you on <a href="https://www.zhihu.com/people/zhang-shi-qing-11">知乎</a>.
                </p>
            </div>
        </div>
    </div>
    {%- include footer.html -%}
</body>
</html>